<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atguigu.jxc.dao.PurchaseListGoodsMapper">

    <resultMap id="BaseResultMap" type="com.atguigu.jxc.entity.PurchaseListGoods">
        <result column="purchase_list_goods_id" property="purchaseListId" jdbcType="INTEGER" />
        <result column="goods_id" property="purchaseListGoodsId" jdbcType="INTEGER" />
        <result column="goods_code" property="goodsCode" jdbcType="INTEGER" />
        <result column="goods_name" property="goodsName" jdbcType="INTEGER" />
        <result column="goods_model" property="goodsModel" jdbcType="VARCHAR" />
        <result column="goods_unit" property="goodsUnit" jdbcType="VARCHAR" />
        <result column="goods_num" property="goodsNum" jdbcType="VARCHAR" />
        <result column="price" property="price" jdbcType="VARCHAR" />
        <result column="total" property="total" jdbcType="VARCHAR" />
        <result column="purchase_list_id" property="purchaseListId" jdbcType="VARCHAR" />
        <result column="goods_type_id" property="goodsTypeId" jdbcType="VARCHAR" />
    </resultMap>

    <insert id="batchInsertPurchaseGoodsList">

        insert into t_purchase_list_goods (goods_id,goods_code,goods_name,goods_model,goods_unit,goods_num,price,total,purchase_list_id,goods_type_id)
        values
        <foreach collection="goodsVos" item="good" separator=",">
            (#{good.goodsId},#{good.goodsCode},#{good.goodsName},#{good.goodsModel},#{good.goodsUnit},#{good.goodsNum},#{good.price},#{good.total},#{purchaseListId},#{good.goodsTypeId})
        </foreach>
    </insert>


    <select id="goodListByPurchaseListId" resultMap="BaseResultMap" >
        select * from t_purchase_list_goods where purchase_list_id = #{value}
    </select>
</mapper>
